<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

 	<bean id="dataSource" class="com.lashouinc.library.common.aop.DynamicDataSource">
		<property name="targetDataSources">
			<map>
				<entry key="master" value-ref="masterDataSource" />
				<entry key="slave" value-ref="slaveDataSource" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="masterDataSource" />
	</bean>
	
	<bean id="slaveDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.slave.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="masterDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.master.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" p:dataSource-ref="dataSource"/>   
    
    
    <!-- 
     	<tx:method name="……"  
         propagation=" REQUIRED"     事务传播行为定义
         isolation="READ_COMMITTED"    事务隔离级别定义 TransactionDefinition.ISOLATION_DEFAULT
         timeout="-1"    事务超时时间设置，单位为秒，默认-1，表示事务超时将依赖于底层事务系统
         read-only="false"  事务只读设置，默认为false，表示不是只读
         no-rollback-for=""   
         rollback-for=""  需要触发回滚的异常定义
     -->
     
    <!--
	<context:annotation-config/>
	<aop:aspectj-autoproxy />
	<bean id="dynamicDataSourceAOP" class="com.lashou.oa.core.aop.datasource.DynamicDataSourceAOP" ></bean>
	 -->
	 
</beans>